/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 90vh;
    margin-top: 10px;
    background-color: #6c757d;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: width 0.3s, height 0.3s;
    overflow: hidden;
    border-radius: 8px;
}

.sidebar.collapsed {
    width: 60px;
    height: 60px;
}

.sidebar .toggle {
    display: block;
    background: none;
    border: none;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.sidebar.collapsed .sidebar-content {
    display: none;
}

.sidebar-content {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    /* Enable scrolling */
}

/* Tab Styles */
.sidebar-tabs {
    display: flex;
    border-bottom: 2px solid #555;
    margin-bottom: 20px;
}

.tab-link {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    color: #ccc;
    font-weight: bold;
    flex: 1;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.tab-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.tab-link.active {
    color: #fff;
    border-bottom: 2px solid #c89412;
    /* Gold accent */
}

.tab-content {
    display: none;
    animation: fadeEffect 0.5s;
}

.tab-content.active {
    display: block;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #c89412;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.output {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

#errorMessageUpload {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.9rem;
}